<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <h2 class="title">My Heroes</h2>
        <ul class="heroes">
            <li *ngFor="let hero of heroes; trackBy:trackByHeroes"
                (click)="onSelect(hero)"
                [class.selected]="hero === selectedHero">
                <span class="hero-element">
                <span class="badge">{{hero.id}}</span> 
                <span class="text">{{hero | displayName}}</span>
                </span>
                <button class="delete-button" (click)="delete(hero,$event)">Delete</button>
            </li>
        </ul>
        <button (click)="addHero()">Add New Hero</button>
        <div *tohUnless="!selectedHero">
            <h2>
            {{selectedHero.name | uppercase}} is my hero
            </h2>
            <button (click)="gotoDetail()">View Details</button>
        </div>
    </div>
</div>
<div *tohUnless="!addingHero">
    <toh-hero-detail (close)="close($event)"></toh-hero-detail>
</div>
<toaster-container></toaster-container>